@import "reset";
@import "variables";
@import "mixins";

.cardList {
  margin: 25px;
  padding: 10px;
  //   border: 5px #01b4c6 solid;
  border-radius: 20px;
  background-color: #3a4767b4;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 20px;
  justify-items: center;

  @include tablet {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
  }
  @include desktop {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
  }

  &__eachCard {
    width: 200px;
    height: 320px;
    border: white 5px solid;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    background-color: #131313;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 10px 8px 0px #131313bd;
  }
}
