.cardList__eachCard {
  &--img {
    width: 150px;
    height: 150px;
    margin-top: 8px;
    border-radius: 5px;
    border: white 3px solid;
  }
  &--name {
    width: 150px;
    line-height: 1.6;
    font-size: 16px;
    text-align: center;
    color: white;
  }

  &--icon {
    border: #97ce4c 2px solid;
    border-radius: 100%;
    margin: 10px;
  }
}
.fas {
  margin: 20px 10px;
  width: 30px;
  height: 30px;
}
