@import "reset";
@import "variables";
@import "mixins";

.filters {
  &__form {
    &--nameTitle {
      margin: 10px;
      @include tablet {
        // width: 20vw;
        font-size: 20px;
      }
    }
    &--nameInput {
      @include tablet {
        margin-right: 20px;
        // width: 20vw;
      }
    }
  }
}
