@import "reset";
@import "variables";
@import "mixins";

.filters {
  &__form {
    &--nameTitle {
      margin: 0 20px;
      @include tablet {
        font-size: 20px;
      }
    }
    &--nameInput {
      @include tablet {
        margin-right: 20px;
        width: 150px;
        height: 40px;
      }
    }
  }
}
