@import "reset";
@import "variables";
@import "mixins";

.filters {
  width: 100%;
  display: flex;
  padding: 0 20px;

  &__form {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    @include tablet {
      flex-direction: row;
      margin-top: 20px;
      margin-bottom: 30px;
    }
  }
}

.resetButton {
  width: 90px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #97ce4c;
  border-radius: 20px;
  box-shadow: 10px 10px 8px 0px #13131388;
  padding-top: 15px;
  margin-top: 10px;
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
  }
  @include tablet {
    width: 100px;
    margin: 0;
  }
}
.fa-undo-alt {
  color: white;
}
