@import "reset";
@import "variables";
@import "mixins";

.filters {
  &__form {
    &--speciesTitle {
      margin-right: 20px;
      @include tablet {
        width: 20vw;
      }
      @include desktop {
        width: 22vw;
      }
    }
    &--speciesInput {
      margin-right: 20px;
      @include tablet {
        width: 20vw;
      }
      @include desktop {
        width: 22vw;
      }
    }
  }
}
