@import "reset";
@import "variables";
@import "mixins";

.filters {
  &__form {
    &--statusTitle {
      margin: 10px 10px 0 0;
    }
    &--statusSubtitle {
      text-align: left;
      margin-right: 10px;
      @include tablet {
        font-size: 20px;
      }
    }
    &--box {
      margin-right: 10px;
    }
  }
}

.checkboxWrapper {
  width: 100%;
  background-color: #3a4767b4;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include tablet {
    background: transparent;
    display: inline;
    margin: 30px;
  }
}
